body{
  background-color:#F1F1F1;

}
.nav-main{
  position: fixed;
  left:  0px;
  top:0;
  width:100%;
  height:60px;
  background-color: #FFF;
  display: flex;
  flex-wrap: wrap;
  z-index: 1000;

}
.btn-ham-nav{
  width: 60px;
  height: 100%;
  left:  0;
  background-color: #3010e6;
  background-image: url("Img/Hamburger_icon.png");
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center;
  cursor: pointer;
}
.btn-ham-nav:hover{
  opacity: 0.5; 
}
.nav-main ul {
display: flex;
flex-wrap: wrap;
padding-left: 15px;
}
.nav-main ul li  {
  list-style: none;
  line-height: 60px;
  }
  .nav-main ul li a {
    display: block;
    height: 100%;
    padding: 0 10px;
    text-transform: uppercase;
    text-decoration: none;
    color: #111;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    
    }
    
    .nav-side{
      position: fixed;
      left:  0px;
      bottom: 0;
      width: 50px;
      height: calc(100vh - 60px);
      padding: 0 5px;
      background-color: rgb(6, 9, 12);
      z-index: 1000;
    }
    .nav-side ul {
      padding-top: 16px;
      overflow: hidden;
      visibility: hidden;

    }
    .nav-side ul li {
      line-height: 60px;
      list-style: none;
    }
    .nav-side ul li span, .nav-side ul li a{
      display: block;
      height: 60px;
      padding: 0 10px;
      text-decoration: none;
      text-transform: uppercase;
      color: white;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 16px;
      white-space: nowrap;
      opacity: 0;
    }
    .nav-side ul li a:hover{
      background-color: rgb(61, 57, 57);
    }
